// sidebar
$menuText: #999;
$menuActiveText: #fff;
$subMenuActiveText: #fff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #000429;
$menuHover: #000429;

$subMenuBg: #00031a;
$subMenuHover: #00031a;

$sideBarWidth: 208px;
$--color-gray: #999;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
